<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>SoundPushMicrophone</string>
	<key>CFBundleIdentifier</key>
	<string>net.soundpush.audio.microphone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SoundPush Microphone</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>7C0F3B6E-2E4A-4D51-9B8E-5A1D2C3F4B60</key>
		<string>SoundPush_Create</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>7C0F3B6E-2E4A-4D51-9B8E-5A1D2C3F4B60</string>
		</array>
	</dict>
</dict>
</plist>
